*.log
*~
.weechat/logs/
.weechat/urlserver_list.txt
.weechat/irc.conf
.weechat/sec.conf
.vimperator/info/default/history*
.vimperator/info/default/local*
.config/awesome/themes/
!.config/awesome/themes/anon/
!.config/awesome/themes/cesious/
!.config/awesome/themes/cesious_dark/
!.config/awesome/themes/dust/
!.config/awesome/themes/icons/
!.config/awesome/themes/zenburn/
.mpv/watch_later/
.ncmpcpp/config.*
.bin/seq42
.bin/sunvox
.bin/Tracktion