<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_choose_library_dialog</key>
	<array>
		<string>/home/alex/Documents/Ebooks</string>
	</array>
	<key>lineedit_history_find_duplicates_plugin:library_duplicate_combo</key>
	<array>
		<string>/home/alex/Documents/Ebooks Library</string>
	</array>
	<key>lineedit_history_store_config_chooser_query</key>
	<array>
		<string>amazon</string>
	</array>
	<key>lineedit_history_store_search_search_title</key>
	<array>
		<string>The Strange Case of Dr. Jekyll and Mr. Hyde</string>
		<string>Ninety-Three</string>
		<string>casterbridge</string>
		<string>mayor of casterbridge</string>
		<string>ethelberta</string>
		<string>hand of ethelberta</string>
		<string>a pair of blue eyes</string>
		<string>under the greenwood</string>
		<string>the woodlanders</string>
		<string>jude the obscure</string>
	</array>
	<key>lineedit_history_tag_browser_search</key>
	<array>
	</array>
</dict>
</plist>
